/* Container general pentru formularul de creare a sondajului */
.createPollContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  }
  
  /* Header pentru pagina */
  .header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Secțiune individuală a formularului */
  .formSection {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Stiluri pentru câmpurile de input */
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Stiluri pentru dropdown */
  .select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Buton pentru adăugarea opțiunilor */
  .addOptionButton {
    background-color: #4facfe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .addOptionButton:hover {
    background-color: #3a8cd1;
  }

  .addOptionButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }


  .removeOptionButton {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .removeOptionButton:hover {
    background-color: #d14a4a;
  }
  
  .removeOptionButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  /* Buton pentru trimiterea sondajului */
  .submitButton {
    width: 100%;
    padding: 15px;
    background-color: #ff8c42;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #ff6b00;
  }
  